<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487957197647-30mi15lnin92mnecakc52sh9lg1na43h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487957197647-30mi15lnin92mnecakc52sh9lg1na43h</string>
	<key>API_KEY</key>
	<string>AIzaSyAJnJG0-KMfRNZtNWoW3mLQAA4isASbMK4</string>
	<key>GCM_SENDER_ID</key>
	<string>487957197647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Angshuman.CometChat</string>
	<key>PROJECT_ID</key>
	<string>github-838d0</string>
	<key>STORAGE_BUCKET</key>
	<string>github-838d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487957197647:ios:4eb6ae8b8a4466b12a8b3a</string>
</dict>
</plist>